[submodule "s6"]
	path = submodules/s6
	url = https://github.com/skarnet/s6.git
[submodule "execline"]
	path = submodules/execline
	url = https://github.com/skarnet/execline.git
[submodule "scalibs"]
	path = submodules/skalibs
	url = https://github.com/skarnet/skalibs.git
[submodule "s6-rc"]
	path = submodules/s6-rc
	url = https://github.com/skarnet/s6-rc.git
[submodule "s6-dns"]
	path = submodules/s6-dns
	url = https://github.com/skarnet/s6-dns.git
[submodule "s6-networking"]
	path = submodules/s6-networking
	url = https://github.com/skarnet/s6-networking.git
