[Unit]
Description=KRB5 Keytab Proxy Service
After=cloud-final.target

[Service]
EnvironmentFile=/etc/sysconfig/treadmill
ExecStartPre=/bin/bash -c "mkdir -p /var/spool/keytabs"
ExecStartPre=/bin/bash -c "until [[ $(k-realm | wc -c) -ne 0 ]]; do sleep 5; done"
ExecStart=/opt/treadmill/bin/treadmill sproc --cell - krb5keytab-proxy
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
