[Unit]
Description=Treadmill node services
Requires=treadmill-sysconfig-node.service 
After=network.target treadmill-sysconfig-node.service

[Service]
User=root
Group=root
EnvironmentFile=/etc/sysconfig/treadmill-node
ExecStartPre=/bin/mount --make-rprivate /
ExecStart=/opt/treadmill/sbin/start_node.sh /var/tmp/treadmill
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
