[Unit]
Description=Install treadmill env variables
After=krb5keytab-proxy.service

[Service]
Type=oneshot
User=root
Group=root
ExecStartPre=/bin/bash -c "until nc -z 169.254.169.254 80; do sleep 5; done"
ExecStart=/opt/treadmill/bin/syscfg write --envfile /etc/sysconfig/treadmill
Restart=no

[Install]
WantedBy=multi-user.target
