[Unit]
Description=Treadmill service
After=treadmill-install.service
After=krb5keytab-proxy.service
BindsTo=krb5keytab-proxy.service

[Service]
User=root
Group=root
EnvironmentFile=/etc/sysconfig/treadmill
ExecStart=/opt/treadmill/sbin/start.sh

[Install]
WantedBy=multi-user.target
