[Unit]
Description=Treadmill Environment Loader
After=network.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/opt/treadmill/bin/syscfg master

[Install]
WantedBy=multi-user.target
