[Unit]
Description=Treadmill service
After=network.target

[Service]
User=root
Group=root
ExecStart=/opt/treadmill/bin/syscfg exec -- /opt/treadmill/sbin/start.sh -t node
Restart=no

[Install]
WantedBy=multi-user.target
