[Unit]
Description=Treadmill service
After=krb5keytab-proxy.service
BindsTo=krb5keytab-proxy.service

[Service]
User=root
Group=root
ExecStart=/opt/treadmill/bin/syscfg exec -- /opt/treadmill/sbin/start.sh
Restart=no

[Install]
WantedBy=multi-user.target
